.mdl-card {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.mdl-grid {
    justify-content: center;
}

.mdl-layout__content {
    background-color: #212121;
}

.mdl-mini-footer{
    height: 2%;
}

h4 {
    color: lightgrey;
}

h6 {
    align-items: center;
    color: lightgrey;

}

#home {
    color: white;
    text-decoration: none;
}

