{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Page styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:thin,light,lang=en">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="{% static 'lightbox.css' %}">
    <link rel="stylesheet"
          href="{% static 'material.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'style.css' %}">


</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <a id="filter" href="{% url "home" %}">Rhys Fernandes</a>
            </span>


            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>


            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url "filter" %}">Snapseed
                                                                          Filters</a>
                <a class="mdl-navigation__link" href="{% url "data" %}">Gym
                                                                        Data
                                                                    Analysis</a>

            </nav>


        </div>
    </header>

    <main class="mdl-layout__content">


        {% block header %}

        {% endblock %}

        <div class="mdl-grid">


            {% block body %}


            {% endblock %}

        </div>
    </main>
    <footer class="mdl-mini-footer">
        <p class="mdl-typography--font-light">Copyright © 2017 Rhys
                                              Fernandes.
                                              All rights reserved</p>

    </footer>
</div>
<script src="{% static 'material.min.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'lightbox.js' %}"></script>
<script>
    lightbox.option({
        'showImageNumberLabel': false,
        'fadeDuration': 10,
        'imageFadeDuration': 200
    })
</script>
</body>
</html>
